--
-- PostgreSQL database dump
--

-- Dumped from database version 12.11
-- Dumped by pg_dump version 15.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

-- *not* creating schema, since initdb creates it


--
-- Name: control_extension(character varying, character varying, character varying); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.control_extension(action character varying, extension character varying, schema character varying DEFAULT 'public'::character varying) RETURNS character varying
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'pg_catalog'
    AS $$
DECLARE l_action varchar;
DECLARE l_extension varchar;
DECLARE l_schema varchar;
DECLARE func_cmd varchar;
DECLARE has_extension name;
DECLARE pg_version varchar;
DECLARE l_search_path varchar;
DECLARE l_search_path_list varchar[];
DECLARE complex_plugins_list varchar[] := ARRAY['pg_stat_statements', 'dblink','postgres_fdw', 'pg_repack', 'pg_cron', 
'orafce' ];
DECLARE postgis_plugins_list varchar[] := ARRAY['postgis', 'postgis_topology', 'postgis_tiger_geocoder', 'postgis_sfcgal',
'postgis_raster', 'address_standardizer', 'address_standardizer_data_us'];
DECLARE fixed_schema_plugins_list varchar[] := ARRAY['pg_hint_plan'];

BEGIN
    PERFORM pg_catalog.set_config('session_replication_role', 'replica', true);
    l_action = trim(both from Lower(action), ' ');
    l_extension = trim(both from Lower(extension), ' ');
    l_schema = trim(both from schema, ' ');
    SELECT substr(current_setting, 1, position('.' in current_setting) + 1) INTO STRICT pg_version
    FROM current_setting('server_version');
    SELECT reset_val INTO l_search_path FROM pg_settings WHERE name = 'search_path';
    l_search_path = trim(both from l_search_path, ' ');
    l_search_path_list := string_to_array(l_search_path, ', ');

    IF l_action <> 'create' and l_action <> 'drop'
    THEN
        RAISE 'invalid action: %, valid actions are create and drop.', l_action;
    END IF;

    SELECT name INTO has_extension FROM pg_available_extensions WHERE name = l_extension;
    IF has_extension is null THEN
        RAISE 'extension: % is not avaliable.', l_extension;
    END IF;

    IF l_extension = ANY(complex_plugins_list)
    THEN
        IF l_action = 'create'
        THEN
            func_cmd := 'select public.' || l_action || '_plugin_' || l_extension || '(' ||
                        quote_literal(l_schema) || '::varchar' || ')';
            EXECUTE func_cmd;
        END IF;
        IF l_action = 'drop'
        THEN
            func_cmd := 'select public.' || l_action || '_plugin_' || l_extension || '()';
            EXECUTE func_cmd;
        END IF;
    ELSIF l_extension = ANY(postgis_plugins_list)
    THEN
        IF l_action = 'create'
        THEN
            func_cmd := 'select public.create_plugin_postgis(' || quote_literal(l_extension) || '::varchar' || 
                        ',' || quote_literal(l_schema) || '::varchar' || ')';
            EXECUTE func_cmd;
        END IF;
        IF l_action = 'drop'
        THEN
            func_cmd := 'select public.drop_plugin_postgis(' || quote_literal(l_extension) || '::varchar' || ')';
            EXECUTE func_cmd;
        END IF;
    ELSE
        IF l_action = 'create'
        THEN
            IF pg_version = '9.5'
            THEN
                IF l_extension = ANY(fixed_schema_plugins_list)
                THEN
                    func_cmd := l_action || ' extension ' || 'IF NOT EXISTS ' || '"' || l_extension || '"';
                ELSE
                    func_cmd := l_action || ' extension ' || 'IF NOT EXISTS ' || '"' || l_extension || '"' ||
                    ' SCHEMA ' || quote_ident(l_schema);
                END IF;
            ELSE
                func_cmd := l_action || ' extension ' || 'IF NOT EXISTS ' || '"' || l_extension || '"' ||
                ' SCHEMA ' || quote_ident(l_schema) || ' CASCADE';
            END IF;
            PERFORM pg_catalog.set_config('search_path', 'pg_catalog, public', true);
            EXECUTE func_cmd;
            PERFORM pg_catalog.set_config('search_path', 'pg_catalog', true);
        END IF;
        IF l_action = 'drop'
        THEN
            func_cmd := l_action ||' extension ' || 'IF EXISTS ' || '"' || l_extension || '"' || ' CASCADE';
            PERFORM pg_catalog.set_config('search_path', 'pg_catalog, public', true);
            EXECUTE func_cmd;
            PERFORM pg_catalog.set_config('search_path', 'pg_catalog', true);
        END IF;
    END IF;

    RAISE LOG 'execute sql_cmd successfully: select control_extension(%, %, %);', l_action, l_extension, l_schema;
    RETURN  l_action || ' ' || l_extension ||' successfully.';
END;
$$;


--
-- Name: control_tablespace(character varying, character varying, character varying); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.control_tablespace(action character varying, name character varying, owner_name character varying DEFAULT NULL::character varying) RETURNS character varying
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'pg_catalog'
    AS $$
DECLARE dbuser varchar;
DECLARE l_action varchar;
DECLARE l_name varchar;
DECLARE l_owner_name varchar;
DECLARE func_cmd varchar;
DECLARE tbs_num int;
DECLARE error_log varchar;
BEGIN
    PERFORM pg_catalog.set_config('session_replication_role', 'replica', true);
    l_action = trim(both from Lower(action), ' ');
    l_name = trim(both from name, ' ');
    select current_user into dbuser;
    IF dbuser <> 'root' and dbuser <> 'rdsAdmin'
    THEN
        error_log = 'Must be root to control this tablespace.';
        RAISE;
    END IF;
    IF l_action <> 'create' and l_action <> 'drop' and l_action <> 'alter'
    THEN
        error_log = 'invalid action(param1)';
        RAISE;
    END IF;
    IF NOT l_name similar to '[a-zA-Z0-9_\-.\[\]()+*^%@!]+' or length(l_name) >= 64
    THEN
        error_log = 'invalid name(param2)';
        RAISE;
    END IF;

    IF l_action = 'create'
    THEN
        IF l_name in (select spcname from pg_tablespace)
        THEN
            error_log = 'This tablespace is already exist.';
            RAISE;
        END IF;
        func_cmd := 'COPY (select 1) TO PROGRAM ''python /usr/pgsql/bin/control_tablespace.py create "' || l_name
        || '"'';';
        EXECUTE func_cmd;
        func_cmd := 'grant create on tablespace "'|| l_name ||'" to "root" WITH GRANT OPTION;';
        EXECUTE func_cmd;
    END IF;

    IF l_action = 'alter'
    THEN
        IF l_name not in (select spcname from pg_tablespace)
        THEN
            error_log = 'This tablespace does not exist.';
            RAISE;
        END IF;
        IF owner_name IS NULL
        THEN
            error_log = 'tablespace owner name is NULL, not support.';
            RAISE;
        END IF;
        l_owner_name = trim(both from owner_name, ' ');
        IF NOT l_owner_name similar to '[a-zA-Z0-9_\-.\[\]()+*^%@!]+' or length(l_owner_name) >= 64
        THEN
            error_log = 'invalid owner_name(param2)';
            RAISE;
        END IF;
        func_cmd := 'grant create on tablespace "'|| l_name ||'" to "'|| l_owner_name ||'" WITH GRANT OPTION;';
        EXECUTE func_cmd;
    END IF;

    IF l_action = 'drop'
    THEN
        IF l_name not in (select spcname from pg_tablespace)
        THEN
            error_log = 'This tablespace does not exist.';
            RAISE;
        END IF;
        IF l_name in (select t.spcname from pg_class c join pg_tablespace t on c.reltablespace = t.oid
                    where t.spcname = l_name) OR l_name in
                    (select t.spcname from pg_database d join pg_tablespace t on d.dattablespace = t.oid
                    where t.spcname = l_name)
        THEN
            error_log = 'This tablespace is not empty.';
            RAISE;
        END IF;
        func_cmd := 'COPY (select 1) TO PROGRAM ''python /usr/pgsql/bin/control_tablespace.py drop "' || l_name ||
        '"'';';
        EXECUTE func_cmd;
    END IF;

    RETURN  l_action || ' tablespace ' || l_name ||' successfully.';
    EXCEPTION
    WHEN OTHERS THEN
      IF error_log IS NOT NULL
      THEN
        RAISE '%', error_log;
      ELSE
        RAISE '% tablespace % failed.', l_name, l_action;
      END IF;
END;
$$;


--
-- Name: create_plugin_dblink(character varying); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.create_plugin_dblink(schema character varying DEFAULT 'public'::character varying) RETURNS integer
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'pg_catalog'
    AS $$
DECLARE passed integer;
DECLARE l_schema varchar;
DECLARE func_cmd varchar;
BEGIN
    PERFORM pg_catalog.set_config('session_replication_role', 'replica', true);
    passed := -1;
    l_schema = trim(both from schema, ' ');
    func_cmd := 'create extension IF NOT EXISTS dblink schema ' ||  quote_ident(l_schema) ;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog, public', true);
    EXECUTE func_cmd;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog', true);
    grant USAGE on FOREIGN DATA WRAPPER dblink_fdw to root ;
    passed := 0;
    RETURN passed;
END;
$$;


--
-- Name: create_plugin_orafce(character varying); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.create_plugin_orafce(schema character varying DEFAULT 'public'::character varying) RETURNS integer
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'pg_catalog'
    AS $$
DECLARE passed integer;
DECLARE l_schema varchar;
DECLARE func_cmd varchar;
DECLARE function_rec RECORD;
BEGIN
    PERFORM pg_catalog.set_config('session_replication_role', 'replica', true);
    passed := -1;
    l_schema = trim(both from schema, ' ');
    func_cmd := 'create extension IF NOT EXISTS orafce schema ' ||  quote_ident(l_schema) ;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog, public', true);
    EXECUTE func_cmd;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog', true);
    
    REVOKE EXECUTE ON ALL FUNCTIONS IN SCHEMA utl_file FROM PUBLIC;
    FOR function_rec IN
        SELECT proname, pg_catalog.pg_get_function_identity_arguments(p.oid) AS arg_list
        FROM pg_proc p
        JOIN pg_namespace n ON p.pronamespace = n.oid
        WHERE n.nspname = 'utl_file'
    LOOP
        func_cmd := 'ALTER EXTENSION orafce DROP FUNCTION utl_file.' || function_rec.proname 
                    || '(' || function_rec.arg_list || ');'; 
        EXECUTE func_cmd;
        func_cmd := 'DROP FUNCTION utl_file.' || function_rec.proname 
            || '(' || function_rec.arg_list || ');'; 
        EXECUTE func_cmd;
    END LOOP;
    passed := 0;
    RETURN passed;
END;
$$;


--
-- Name: create_plugin_pg_cron(character varying); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.create_plugin_pg_cron(schema character varying DEFAULT 'public'::character varying) RETURNS integer
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'pg_catalog'
    AS $$
DECLARE passed integer;
DECLARE row_data RECORD;
DECLARE alter_cmd varchar;
DECLARE func_cmd varchar;
DECLARE l_schema varchar;
DECLARE full_ext_version varchar;
DECLARE ext_version varchar;
BEGIN
    PERFORM pg_catalog.set_config('session_replication_role', 'replica', true);
    passed := -1;
    SELECT default_version INTO full_ext_version FROM pg_available_extensions WHERE name = 'pg_cron';
    select concat(split_part(full_ext_version, '.', 1), '.', split_part(full_ext_version, '.', 2))  INTO ext_version;
    IF ext_version::numeric >= 1.5 THEN
        l_schema := 'pg_catalog';
    ELSE
        l_schema := trim(both from schema, ' ');
    END IF;
    func_cmd := 'create extension IF NOT EXISTS pg_cron schema ' || quote_ident(l_schema);
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog, public', true);
    EXECUTE func_cmd;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog', true);  

    FOR row_data IN SELECT c.oid, c.relname, c.relkind 
    FROM pg_catalog.pg_namespace n
    JOIN pg_catalog.pg_class c ON c.relnamespace = n.oid
    WHERE n.nspname = 'cron' and (c.relkind = 'S' or c.relkind = 'r') 
    LOOP
		IF row_data.relkind = 'r' THEN
			alter_cmd := 'ALTER TABLE cron.' || quote_ident(row_data.relname) || ' OWNER TO root';
			EXECUTE alter_cmd;
		END IF;
		IF row_data.relkind = 'S' THEN
			alter_cmd := 'ALTER SEQUENCE cron.' || quote_ident(row_data.relname) || ' OWNER TO root';
			EXECUTE alter_cmd;
		END IF;
    END LOOP;
    alter_cmd := 'ALTER SCHEMA cron OWNER TO root';
    EXECUTE alter_cmd;

    passed := 0;
    RETURN passed;
END;
$$;


--
-- Name: create_plugin_pg_repack(character varying); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.create_plugin_pg_repack(schema character varying DEFAULT 'public'::character varying) RETURNS integer
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'pg_catalog'
    AS $$
DECLARE passed integer;
DECLARE l_schema varchar;
DECLARE func_cmd varchar;
BEGIN
    PERFORM pg_catalog.set_config('session_replication_role', 'replica', true);
    passed := -1;
    l_schema = trim(both from schema, ' ');
    func_cmd := 'create extension IF NOT EXISTS pg_repack schema ' ||  quote_ident(l_schema) ;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog, public', true);
    EXECUTE func_cmd;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog', true);
    GRANT ALL PRIVILEGES ON SCHEMA repack to root;
    GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA repack to root;
    GRANT ALL PRIVILEGES ON ALL FUNCTIONS IN SCHEMA repack  to root;
    passed := 0;
    RETURN passed;
END;
$$;


--
-- Name: create_plugin_pg_stat_statements(character varying); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.create_plugin_pg_stat_statements(schema character varying DEFAULT 'public'::character varying) RETURNS integer
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'pg_catalog'
    AS $$
DECLARE passed integer;
DECLARE ext_version text;
DECLARE l_schema varchar;
DECLARE func_cmd varchar;
BEGIN
    PERFORM pg_catalog.set_config('session_replication_role', 'replica', true);
    passed := -1;
    l_schema = trim(both from schema, ' ');
    func_cmd := 'create extension IF NOT EXISTS pg_stat_statements schema ' ||  quote_ident(l_schema) ;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog, public', true);
    EXECUTE func_cmd;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog', true);
    SELECT extversion INTO ext_version FROM pg_extension WHERE extname = 'pg_stat_statements';
    IF SUBSTRING(ext_version FROM 3)::numeric > 6 THEN
        func_cmd := 'grant execute on function ' || quote_ident(l_schema) ||
                    '.pg_stat_statements_reset to root with grant option';
        EXECUTE func_cmd;
    ELSE
        func_cmd := 'grant execute on function ' || quote_ident(l_schema) ||
                    '.pg_stat_statements_reset() to root with grant option';
        EXECUTE func_cmd;
    END IF;
    passed := 0;
    RETURN passed;
END;
$$;


--
-- Name: create_plugin_postgis(character varying, character varying); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.create_plugin_postgis(extension character varying DEFAULT 'postgis'::character varying, schema character varying DEFAULT 'public'::character varying) RETURNS integer
    LANGUAGE plpgsql
    AS $_$
DECLARE count_sql_format integer;
DECLARE count_empty_is_null integer;
DECLARE sql_format varchar;
DECLARE empty_is_null varchar;
DECLARE passed integer;
DECLARE func_cmd text;
DECLARE alter_str text;
DECLARE dbuser varchar;
DECLARE has_postgis_raster name;
DECLARE has_postgis_sfcgal name;
DECLARE l_schema varchar;
DECLARE l_extension varchar;
DECLARE l_search_path varchar;
DECLARE l_search_path_list varchar[];
BEGIN
    PERFORM pg_catalog.set_config('session_replication_role', 'replica', true);
    select count(*) from pg_settings where name = 'sql_format' into count_sql_format;
    select count(*) from pg_settings where name = 'empty_is_null' into count_empty_is_null;
    IF count_sql_format = 1 and count_empty_is_null = 1
    THEN
        show sql_format into sql_format;
        show empty_is_null into empty_is_null;
        IF sql_format = 'oracle' AND empty_is_null = 'on'
        THEN
            RAISE 'Extension postgis can not create when parameter ''empty_is_null'' is ''on''.
            Please set it to ''off''.';
        END IF;
    END IF;

    SELECT reset_val INTO l_search_path FROM pg_settings WHERE name = 'search_path';
    l_search_path = trim(both from l_search_path, ' ');
    l_search_path_list := string_to_array(l_search_path, ', ');

    passed := -1;
    l_schema = trim(both from schema, ' ');
    l_extension = trim(both from extension, ' ');
    func_cmd := 'create extension IF NOT EXISTS postgis schema ' ||  quote_ident(l_schema) ;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog, public', true);
    EXECUTE func_cmd;
    CASE l_extension
        WHEN 'postgis_topology'
        THEN
            IF NOT l_schema = ANY(l_search_path_list)
            THEN
                BEGIN
                    create extension IF NOT EXISTS postgis_topology;
                EXCEPTION
                    WHEN undefined_object THEN
                        RAISE 'You are creating extension postgis_tiger_geocoder but the schema its dependent postgis was installed in is not in the reset_val of search_path, you can do:
                        1. execute "alter database % set search_path to %, %" add the schema to search_path 
                        2. reconnect to refresh the reset_val of search_path 
                        3. try again.', current_database(), l_search_path, l_schema;
                END;
            ELSE
                create extension IF NOT EXISTS postgis_topology;
            END IF;
            PERFORM pg_catalog.set_config('search_path', 'pg_catalog', true);
        WHEN 'postgis_tiger_geocoder'
        THEN
            func_cmd := 'create extension IF NOT EXISTS fuzzystrmatch schema ' ||  quote_ident(l_schema) ;
            PERFORM pg_catalog.set_config('search_path', 'pg_catalog, public', true);
            EXECUTE func_cmd;
            IF NOT l_schema = ANY(l_search_path_list)
            THEN
                BEGIN
                    create extension IF NOT EXISTS postgis_tiger_geocoder;
                EXCEPTION
                    WHEN undefined_function THEN
                        RAISE 'You are creating extension postgis_tiger_geocoder but the schema its dependent postgis or fuzzystrmatch was installed in is not in the reset_val of search_path, you can do:
                        1. execute "alter database % set search_path to %, %" add the schema to search_path 
                        2. reconnect to refresh the reset_val of search_path 
                        3. try again.', current_database(), l_search_path, l_schema;
                END;
            ELSE
                create extension IF NOT EXISTS postgis_tiger_geocoder;
            END IF;
            PERFORM pg_catalog.set_config('search_path', 'pg_catalog', true);
        WHEN 'address_standardizer'
        THEN
            func_cmd := 'create extension IF NOT EXISTS address_standardizer schema ' ||  quote_ident(l_schema) ;
            PERFORM pg_catalog.set_config('search_path', 'pg_catalog, public', true);
            EXECUTE func_cmd;
            PERFORM pg_catalog.set_config('search_path', 'pg_catalog', true);
        WHEN 'address_standardizer_data_us'
        THEN
            func_cmd := 'create extension IF NOT EXISTS address_standardizer_data_us schema ' ||  quote_ident(l_schema) ;
            PERFORM pg_catalog.set_config('search_path', 'pg_catalog, public', true);
            EXECUTE func_cmd;
            PERFORM pg_catalog.set_config('search_path', 'pg_catalog', true);
        WHEN 'postgis_raster'
        THEN
            SELECT name INTO has_postgis_raster FROM pg_available_extensions WHERE name = 'postgis_raster';
            IF has_postgis_raster is not null THEN
                func_cmd := 'create extension IF NOT EXISTS postgis_raster schema ' ||  quote_ident(l_schema) ;
                PERFORM pg_catalog.set_config('search_path', 'pg_catalog, public', true);
                EXECUTE func_cmd;
                PERFORM pg_catalog.set_config('search_path', 'pg_catalog', true);
            END IF;
        WHEN 'postgis_sfcgal'
        THEN
            SELECT name INTO has_postgis_sfcgal FROM pg_available_extensions WHERE name = 'postgis_sfcgal';
            IF has_postgis_sfcgal is not null THEN
                func_cmd := 'create extension IF NOT EXISTS postgis_sfcgal schema ' ||  quote_ident(l_schema) ;
                PERFORM pg_catalog.set_config('search_path', 'pg_catalog, public', true);
                EXECUTE func_cmd;
                PERFORM pg_catalog.set_config('search_path', 'pg_catalog', true);
            END IF;
        ELSE
            NULL;
    END CASE;
    dbuser := 'root';

    CASE l_extension
        WHEN 'postgis_tiger_geocoder'
        THEN
            alter_str := 'alter schema tiger owner to "'|| dbuser || '"';
            EXECUTE alter_str;
            alter_str := 'alter schema tiger_data owner to "'|| dbuser || '"';
            EXECUTE alter_str;
        WHEN 'postgis_topology'
        THEN
            alter_str := 'alter schema topology owner to "'|| dbuser || '"';
            EXECUTE alter_str;
        ELSE
            NULL;
    END CASE;
    CREATE OR REPLACE FUNCTION pg_catalog.rdsexec(text) returns text language plpgsql volatile AS
    $f$ BEGIN EXECUTE $1; RETURN $1; END; $f$;
    func_cmd := 'SELECT pg_catalog.rdsexec(''ALTER TABLE '' || quote_ident(s.nspname) || ''.'' || quote_ident(s.relname) ||
    '' OWNER TO "' || dbuser || '";'')
      FROM (
        SELECT nspname, relname
        FROM pg_class c JOIN pg_namespace n ON (c.relnamespace = n.oid)
        WHERE (nspname in (''tiger'',''topology'') OR relname in (''us_rules'', ''us_lex'', ''us_gaz'',
        ''us_lex_id_seq'', ''us_rules_id_seq'', ''us_gaz_id_seq'', ''spatial_ref_sys'', ''geography_columns'',
        ''geometry_columns'', ''raster_columns'', ''raster_overviews'')) AND
        relkind IN (''r'',''S'',''v'') ORDER BY relkind = ''S'')
    s; ' ;
    EXECUTE func_cmd;
    CASE l_extension
        WHEN 'postgis_tiger_geocoder'
        THEN
            grant usage on schema tiger to public;
            grant usage on schema tiger_data to public;
        WHEN 'postgis_topology'
        THEN
            grant usage on schema topology to public;
        ELSE
            NULL;
    END CASE;
    func_cmd := 'SELECT pg_catalog.rdsexec(''GRANT SELECT ON TABLE '' || quote_ident(s.nspname) || ''.'' || 
    quote_ident(s.relname) || '' TO PUBLIC;'')
      FROM (
        SELECT nspname, relname
        FROM pg_class c JOIN pg_namespace n ON (c.relnamespace = n.oid)
        WHERE nspname in (''tiger'',''topology'') AND
        relkind IN (''r'',''v'') ORDER BY relkind = ''S'')
    s; ' ;
    EXECUTE func_cmd;
    func_cmd := 'SELECT pg_catalog.rdsexec(''GRANT usage on SEQUENCE '' || quote_ident(s.nspname) || ''.'' ||
    quote_ident(s.relname) || '' TO PUBLIC;'')
      FROM (
        SELECT nspname, relname
        FROM pg_class c JOIN pg_namespace n ON (c.relnamespace = n.oid)
        WHERE nspname in (''tiger'',''topology'') AND
        relkind IN (''S'') ORDER BY relkind = ''S'')
    s; ' ;
    EXECUTE func_cmd;
    passed := 0;

    RETURN passed;
END;
$_$;


--
-- Name: create_plugin_postgres_fdw(character varying); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.create_plugin_postgres_fdw(schema character varying DEFAULT 'public'::character varying) RETURNS integer
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'pg_catalog'
    AS $$
DECLARE passed integer;
DECLARE l_schema varchar;
DECLARE func_cmd varchar;
BEGIN
    PERFORM pg_catalog.set_config('session_replication_role', 'replica', true);
    passed := -1;
    l_schema = trim(both from schema, ' ');
    func_cmd := 'create extension IF NOT EXISTS postgres_fdw schema ' ||  quote_ident(l_schema) ;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog, public', true);
    EXECUTE func_cmd;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog', true);
    grant USAGE on FOREIGN DATA WRAPPER postgres_fdw to root ;
    passed := 0;
    RETURN passed;
END;
$$;


--
-- Name: drop_plugin_dblink(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.drop_plugin_dblink() RETURNS integer
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'pg_catalog'
    AS $$
DECLARE passed integer;
BEGIN
    PERFORM pg_catalog.set_config('session_replication_role', 'replica', true);
    passed := -1;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog, public', true);
    drop extension IF EXISTS dblink CASCADE;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog', true);
    passed := 0;
    RETURN passed;
END;
$$;


--
-- Name: drop_plugin_orafce(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.drop_plugin_orafce() RETURNS integer
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'pg_catalog'
    AS $$
DECLARE passed integer;
BEGIN
    PERFORM pg_catalog.set_config('session_replication_role', 'replica', true);
    passed := -1;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog, public', true);
    drop extension IF EXISTS orafce CASCADE;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog', true);
    passed := 0;
    RETURN passed;
END;
$$;


--
-- Name: drop_plugin_pg_cron(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.drop_plugin_pg_cron() RETURNS integer
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'pg_catalog'
    AS $$
DECLARE passed integer;
BEGIN
    PERFORM pg_catalog.set_config('session_replication_role', 'replica', true);
    passed := -1;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog, public', true);
    drop extension IF EXISTS pg_cron CASCADE;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog', true);
    passed := 0;
    RETURN passed;
END;
$$;


--
-- Name: drop_plugin_pg_repack(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.drop_plugin_pg_repack() RETURNS integer
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'pg_catalog'
    AS $$
DECLARE passed integer;
BEGIN
    PERFORM pg_catalog.set_config('session_replication_role', 'replica', true);
    passed := -1;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog, public', true);
    drop extension IF EXISTS pg_repack CASCADE;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog', true);
    passed := 0;
    RETURN passed;
END;
$$;


--
-- Name: drop_plugin_pg_stat_statements(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.drop_plugin_pg_stat_statements() RETURNS integer
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'pg_catalog'
    AS $$
DECLARE passed integer;
BEGIN
    PERFORM pg_catalog.set_config('session_replication_role', 'replica', true);
    passed := -1;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog, public', true);
    drop extension IF EXISTS pg_stat_statements CASCADE;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog', true);
    passed := 0;
    RETURN passed;
END;
$$;


--
-- Name: drop_plugin_postgis(character varying); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.drop_plugin_postgis(extension character varying DEFAULT 'postgis'::character varying) RETURNS integer
    LANGUAGE plpgsql
    AS $$
DECLARE passed integer;
DECLARE l_extension varchar;
BEGIN
    PERFORM pg_catalog.set_config('session_replication_role', 'replica', true);
    passed := -1;
    l_extension = trim(both from extension, ' ');
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog, public', true);
    CASE l_extension
        WHEN 'postgis'
        THEN
            drop extension IF EXISTS postgis_sfcgal;
            drop extension IF EXISTS postgis_raster CASCADE;
            drop extension IF EXISTS postgis_tiger_geocoder CASCADE;
            drop extension IF EXISTS fuzzystrmatch CASCADE;
            drop extension IF EXISTS postgis_topology CASCADE;
            drop extension IF EXISTS postgis CASCADE;
            drop extension IF EXISTS address_standardizer CASCADE;
            drop extension IF EXISTS address_standardizer_data_us CASCADE;
        WHEN 'postgis_sfcgal'
        THEN
            drop extension IF EXISTS postgis_sfcgal;
        WHEN 'postgis_raster'
        THEN
            drop extension IF EXISTS postgis_raster CASCADE;
        WHEN 'postgis_tiger_geocoder'
        THEN
            drop extension IF EXISTS postgis_tiger_geocoder CASCADE;
        WHEN 'postgis_topology'
        THEN
            drop extension IF EXISTS postgis_topology CASCADE;
        WHEN 'address_standardizer'
        THEN
            drop extension IF EXISTS address_standardizer CASCADE;
        WHEN 'address_standardizer_data_us'
        THEN
            drop extension IF EXISTS address_standardizer_data_us CASCADE;
    END CASE;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog', true);
    passed := 0;
    RETURN passed;
END;
$$;


--
-- Name: drop_plugin_postgres_fdw(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.drop_plugin_postgres_fdw() RETURNS integer
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'pg_catalog'
    AS $$
DECLARE passed integer;
BEGIN
    PERFORM pg_catalog.set_config('session_replication_role', 'replica', true);
    passed := -1;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog, public', true);
    drop extension IF EXISTS postgres_fdw CASCADE;
    PERFORM pg_catalog.set_config('search_path', 'pg_catalog', true);
    passed := 0;
    RETURN passed;
END;
$$;


--
-- Name: select_control_version(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.select_control_version() RETURNS character varying
    LANGUAGE sql
    AS $$ select '26.2.0'::varchar $$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alert_channels; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alert_channels (
    id bigint NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone,
    name character varying(100) NOT NULL,
    robot_id character varying(500) NOT NULL,
    status bigint DEFAULT 1 NOT NULL
);


--
-- Name: alert_channels_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.alert_channels_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: alert_channels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.alert_channels_id_seq OWNED BY public.alert_channels.id;


--
-- Name: database_connections; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.database_connections (
    id bigint NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone,
    name character varying(50) NOT NULL,
    type character varying(20) NOT NULL,
    host character varying(100) NOT NULL,
    port bigint NOT NULL,
    database character varying(100) NOT NULL,
    username character varying(100) NOT NULL,
    password character varying(255) NOT NULL,
    charset character varying(20) DEFAULT 'utf8mb4'::character varying NOT NULL,
    max_idle bigint DEFAULT 10 NOT NULL,
    max_open bigint DEFAULT 100 NOT NULL,
    user_id bigint NOT NULL,
    usage character varying(20) DEFAULT 'both'::character varying NOT NULL
);


--
-- Name: TABLE database_connections; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.database_connections IS '源库和目标库连接配置';


--
-- Name: COLUMN database_connections.password; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.database_connections.password IS '数据库密码（当前为明文）';


--
-- Name: database_connections_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.database_connections_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: database_connections_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.database_connections_id_seq OWNED BY public.database_connections.id;


--
-- Name: sync_cdc_checkpoints; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sync_cdc_checkpoints (
    id bigint NOT NULL,
    task_id bigint NOT NULL,
    binlog_file character varying(255) NOT NULL,
    binlog_position bigint NOT NULL,
    snapshot_completed boolean DEFAULT false NOT NULL,
    last_event_at timestamp with time zone,
    updated_at timestamp with time zone
);


--
-- Name: sync_cdc_checkpoints_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.sync_cdc_checkpoints_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: sync_cdc_checkpoints_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.sync_cdc_checkpoints_id_seq OWNED BY public.sync_cdc_checkpoints.id;


--
-- Name: sync_checkpoints; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sync_checkpoints (
    id bigint NOT NULL,
    task_table_id bigint NOT NULL,
    cursor_value text,
    cursor_primary_key text,
    completed boolean DEFAULT false NOT NULL,
    updated_at timestamp with time zone
);


--
-- Name: sync_checkpoints_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.sync_checkpoints_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: sync_checkpoints_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.sync_checkpoints_id_seq OWNED BY public.sync_checkpoints.id;


--
-- Name: sync_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sync_logs (
    id bigint NOT NULL,
    created_at timestamp with time zone,
    task_id bigint NOT NULL,
    status character varying(20) NOT NULL,
    message text,
    rows_affected bigint DEFAULT 0,
    duration bigint DEFAULT 0,
    error_detail text,
    task_name character varying(100),
    event_type character varying(30),
    phase character varying(30),
    detail text,
    CONSTRAINT ck_sync_logs_status CHECK (((status)::text = ANY ((ARRAY['running'::character varying, 'success'::character varying, 'failed'::character varying])::text[])))
);


--
-- Name: TABLE sync_logs; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.sync_logs IS '同步任务运行日志';


--
-- Name: COLUMN sync_logs.duration; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.sync_logs.duration IS '执行耗时，毫秒';


--
-- Name: sync_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.sync_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: sync_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.sync_logs_id_seq OWNED BY public.sync_logs.id;


--
-- Name: sync_task_tables; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sync_task_tables (
    id bigint NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    task_id bigint NOT NULL,
    source_table character varying(100) NOT NULL,
    target_table character varying(100) NOT NULL,
    incremental_key character varying(100),
    field_mapping json,
    "position" bigint DEFAULT 0 NOT NULL,
    source_primary_key character varying(100),
    target_primary_key character varying(100),
    sync_state character varying(30) DEFAULT 'pending'::character varying NOT NULL,
    snapshot_total bigint DEFAULT 0 NOT NULL,
    snapshot_processed bigint DEFAULT 0 NOT NULL,
    progress_percent numeric DEFAULT 0 NOT NULL,
    onboarding_file character varying(255),
    onboarding_position bigint DEFAULT 0 NOT NULL,
    progress_message text,
    activated_at timestamp with time zone
);


--
-- Name: sync_task_tables_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.sync_task_tables_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: sync_task_tables_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.sync_task_tables_id_seq OWNED BY public.sync_task_tables.id;


--
-- Name: sync_tasks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sync_tasks (
    id bigint NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone,
    name character varying(100) NOT NULL,
    source_db character varying(50) NOT NULL,
    source_table character varying(100) NOT NULL,
    target_db character varying(50) NOT NULL,
    target_table character varying(100) NOT NULL,
    field_mapping json,
    sync_type character varying(20) NOT NULL,
    incremental_key character varying(100),
    cron_expression character varying(100),
    status bigint DEFAULT 1 NOT NULL,
    last_run_at timestamp with time zone,
    last_run_status character varying(20),
    last_run_message text,
    user_id bigint NOT NULL,
    schedule_type character varying(20) DEFAULT 'interval'::character varying NOT NULL,
    interval_minutes bigint DEFAULT 5 NOT NULL,
    last_success_at timestamp with time zone,
    alert_channel_id bigint,
    alert_delay_minutes bigint DEFAULT 0 NOT NULL,
    alert_stopped_minutes bigint DEFAULT 0 NOT NULL,
    alert_on_error boolean DEFAULT true NOT NULL,
    alert_cooldown_minutes bigint DEFAULT 30 NOT NULL,
    validation_status character varying(20) DEFAULT 'legacy'::character varying NOT NULL,
    runtime_status character varying(30) DEFAULT 'stopped'::character varying NOT NULL,
    rows_processed bigint DEFAULT 0 NOT NULL,
    rows_per_second numeric DEFAULT 0 NOT NULL,
    delay_seconds bigint DEFAULT 0 NOT NULL,
    phase_started_at timestamp with time zone,
    alert_delay_seconds bigint DEFAULT 0 NOT NULL,
    CONSTRAINT ck_sync_tasks_status CHECK ((status = ANY (ARRAY[(0)::bigint, (1)::bigint]))),
    CONSTRAINT ck_sync_tasks_sync_type CHECK (((sync_type)::text = ANY ((ARRAY['full'::character varying, 'cdc'::character varying, 'full_cdc'::character varying])::text[])))
);


--
-- Name: TABLE sync_tasks; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.sync_tasks IS '数据同步任务';


--
-- Name: sync_tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.sync_tasks_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: sync_tasks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.sync_tasks_id_seq OWNED BY public.sync_tasks.id;


--
-- Name: task_alert_states; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.task_alert_states (
    id bigint NOT NULL,
    task_id bigint NOT NULL,
    alert_type character varying(20) NOT NULL,
    active boolean DEFAULT false NOT NULL,
    last_sent_at timestamp with time zone,
    updated_at timestamp with time zone,
    alert_count bigint DEFAULT 0 NOT NULL,
    silent_at timestamp with time zone
);


--
-- Name: task_alert_states_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.task_alert_states_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: task_alert_states_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.task_alert_states_id_seq OWNED BY public.task_alert_states.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone,
    username character varying(50) NOT NULL,
    password character varying(255) NOT NULL,
    email character varying(100),
    role character varying(20) DEFAULT 'viewer'::character varying,
    status bigint DEFAULT 1 NOT NULL,
    CONSTRAINT ck_users_role CHECK (((role)::text = ANY ((ARRAY['admin'::character varying, 'viewer'::character varying])::text[]))),
    CONSTRAINT ck_users_status CHECK ((status = ANY (ARRAY[(0)::bigint, (1)::bigint])))
);


--
-- Name: TABLE users; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.users IS 'MergeWong 鍚庡彴鐢ㄦ埛';


--
-- Name: COLUMN users.password; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.users.password IS 'bcrypt 密码哈希';


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: alert_channels id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alert_channels ALTER COLUMN id SET DEFAULT nextval('public.alert_channels_id_seq'::regclass);


--
-- Name: database_connections id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.database_connections ALTER COLUMN id SET DEFAULT nextval('public.database_connections_id_seq'::regclass);


--
-- Name: sync_cdc_checkpoints id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sync_cdc_checkpoints ALTER COLUMN id SET DEFAULT nextval('public.sync_cdc_checkpoints_id_seq'::regclass);


--
-- Name: sync_checkpoints id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sync_checkpoints ALTER COLUMN id SET DEFAULT nextval('public.sync_checkpoints_id_seq'::regclass);


--
-- Name: sync_logs id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sync_logs ALTER COLUMN id SET DEFAULT nextval('public.sync_logs_id_seq'::regclass);


--
-- Name: sync_task_tables id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sync_task_tables ALTER COLUMN id SET DEFAULT nextval('public.sync_task_tables_id_seq'::regclass);


--
-- Name: sync_tasks id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sync_tasks ALTER COLUMN id SET DEFAULT nextval('public.sync_tasks_id_seq'::regclass);


--
-- Name: task_alert_states id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.task_alert_states ALTER COLUMN id SET DEFAULT nextval('public.task_alert_states_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: alert_channels alert_channels_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alert_channels
    ADD CONSTRAINT alert_channels_pkey PRIMARY KEY (id);


--
-- Name: database_connections database_connections_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.database_connections
    ADD CONSTRAINT database_connections_pkey PRIMARY KEY (id);


--
-- Name: sync_cdc_checkpoints sync_cdc_checkpoints_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sync_cdc_checkpoints
    ADD CONSTRAINT sync_cdc_checkpoints_pkey PRIMARY KEY (id);


--
-- Name: sync_checkpoints sync_checkpoints_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sync_checkpoints
    ADD CONSTRAINT sync_checkpoints_pkey PRIMARY KEY (id);


--
-- Name: sync_logs sync_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sync_logs
    ADD CONSTRAINT sync_logs_pkey PRIMARY KEY (id);


--
-- Name: sync_task_tables sync_task_tables_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sync_task_tables
    ADD CONSTRAINT sync_task_tables_pkey PRIMARY KEY (id);


--
-- Name: sync_tasks sync_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sync_tasks
    ADD CONSTRAINT sync_tasks_pkey PRIMARY KEY (id);


--
-- Name: task_alert_states task_alert_states_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.task_alert_states
    ADD CONSTRAINT task_alert_states_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_alert_channels_deleted_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_alert_channels_deleted_at ON public.alert_channels USING btree (deleted_at);


--
-- Name: idx_alert_channels_name; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_alert_channels_name ON public.alert_channels USING btree (name);


--
-- Name: idx_database_connections_deleted_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_database_connections_deleted_at ON public.database_connections USING btree (deleted_at);


--
-- Name: idx_database_connections_name; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_database_connections_name ON public.database_connections USING btree (name);


--
-- Name: idx_database_connections_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_database_connections_user_id ON public.database_connections USING btree (user_id);


--
-- Name: idx_sync_cdc_checkpoints_task_id; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_sync_cdc_checkpoints_task_id ON public.sync_cdc_checkpoints USING btree (task_id);


--
-- Name: idx_sync_checkpoints_task_table_id; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_sync_checkpoints_task_table_id ON public.sync_checkpoints USING btree (task_table_id);


--
-- Name: idx_sync_logs_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sync_logs_created_at ON public.sync_logs USING btree (created_at);


--
-- Name: idx_sync_logs_event_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sync_logs_event_type ON public.sync_logs USING btree (event_type);


--
-- Name: idx_sync_logs_phase; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sync_logs_phase ON public.sync_logs USING btree (phase);


--
-- Name: idx_sync_logs_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sync_logs_status ON public.sync_logs USING btree (status);


--
-- Name: idx_sync_logs_task_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sync_logs_task_id ON public.sync_logs USING btree (task_id);


--
-- Name: idx_sync_logs_task_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sync_logs_task_name ON public.sync_logs USING btree (task_name);


--
-- Name: idx_sync_task_tables_sync_state; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sync_task_tables_sync_state ON public.sync_task_tables USING btree (sync_state);


--
-- Name: idx_sync_task_tables_task_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sync_task_tables_task_id ON public.sync_task_tables USING btree (task_id);


--
-- Name: idx_sync_tasks_alert_channel_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sync_tasks_alert_channel_id ON public.sync_tasks USING btree (alert_channel_id);


--
-- Name: idx_sync_tasks_deleted_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sync_tasks_deleted_at ON public.sync_tasks USING btree (deleted_at);


--
-- Name: idx_sync_tasks_runtime_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sync_tasks_runtime_status ON public.sync_tasks USING btree (runtime_status);


--
-- Name: idx_sync_tasks_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sync_tasks_status ON public.sync_tasks USING btree (status);


--
-- Name: idx_sync_tasks_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sync_tasks_user_id ON public.sync_tasks USING btree (user_id);


--
-- Name: idx_users_deleted_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_deleted_at ON public.users USING btree (deleted_at);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: uk_task_alert_type; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uk_task_alert_type ON public.task_alert_states USING btree (task_id, alert_type);


--
-- Name: uk_task_source_table; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uk_task_source_table ON public.sync_task_tables USING btree (task_id, source_table);


--
-- Name: sync_tasks fk_sync_tasks_alert_channel; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sync_tasks
    ADD CONSTRAINT fk_sync_tasks_alert_channel FOREIGN KEY (alert_channel_id) REFERENCES public.alert_channels(id);


--
-- Name: sync_cdc_checkpoints fk_sync_tasks_cdc_checkpoint; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sync_cdc_checkpoints
    ADD CONSTRAINT fk_sync_tasks_cdc_checkpoint FOREIGN KEY (task_id) REFERENCES public.sync_tasks(id);


--
-- Name: sync_task_tables fk_sync_tasks_task_tables; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sync_task_tables
    ADD CONSTRAINT fk_sync_tasks_task_tables FOREIGN KEY (task_id) REFERENCES public.sync_tasks(id);


--
-- PostgreSQL database dump complete
--

